
<div class="card" id="s">
  <div class="card-header">
   <h3> Lista de Musicas </h3>
   <h5> Total de Musicas: <b class="featured-number"><%=@track.count %></b></h5> 
  </div>
  <div class="card-body">
    
    <p class="card-text">
    
  <%= form_tag("/tracks", method: "get") do %>
  <div class="input-group mb-3">
         <div class="input-group-prepend">
          <img src="https://res.cloudinary.com/musical-crud/image/upload/v1572656618/Logo/iconfinder_search_172546_agifit.png">
         </div>
      <%= text_field_tag(:name, params['name'], class: "form-control") %>
        <div class="input-group-prepend">
      <%= submit_tag("Buscar", class: 'btn btn-dark') %>
        </div>
      </div>
  <% end %>
    
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Musica</th>
      <th scope="col">Compositor</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
   <% @track.each do |track|  %>
    <tr>
      <td> <%= track.name%> </td>
      <td> <%= track.composer%> </td>
      <td> <%= link_to 'Editar' , edit_track_path(track), class:"btn btn-warning"%>
    </tr>
    <%end%>
    </table>
  </tbody>
    
