
<div class="card" id="s">
  <div class="card-header">
   <h3> Lista de Artistas </h3>
   <h5> Total de Artistas: <b class="featured-number"><%=@artist.count %></b></h5> 
  </div>
  <div class="card-body">
    
    <p class="card-text">
    
<%= form_tag("/artists", method: "get") do %>
      <div class="input-group mb-3">
         <div class="input-group-prepend">
          <img src="https://res.cloudinary.com/musical-crud/image/upload/v1572666035/Logo/artista-fim_1_cvbvhg.svg">
         </div>
      <%= text_field_tag(:name, params['name'], class: "form-control") %>
        <div class="input-group-prepend">
      <%= submit_tag("Buscar", class: 'btn btn-dark') %>
        </div>
      </div>
<% end %>

    
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

<ul class="list-group">
  <% @artist.each do |artist|  %>
  <%= link_to artist_path(artist), class: "list-group-item list-group-item-action" do %>
  <h1 class="h6"><%= artist.name %></small></h1>
    <%end%>
  <%end%>
</ul>
  
