
<div class="card" id="s">
  <div class="card-header">
   <h3> Lista de Artistas </h3>
   <h5> Total de Artistas: <%=@artist.count %></h5>  
  </div>
  <div class="card-body">
    
    <p class="card-text">
    
   <%= text_field_tag(:valor, params[:valor])%>
  <%= submit_tag("Filtrar", class: 'btn btn-info', :style => "margin-left: 10px" ) %>
    
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

<ul class="list-group">
  <% @artist.each do |artist|  %>
  <%= link_to artist_path(artist), class: "list-group-item list-group-item-action" do %>
  <h1 class="h6"><%= artist.name %></small></h1>
    <%end%>
  <%end%>
</ul>
  
