<div class="card text-center" id="s" >
    <div class="card-header">
      <h3> Editar album </h3>
    </div>
    <div class="card-body">
      <a href="/albums" class="btn btn-dark">Voltar para Abuns</a>
      
    </div>
</div>


<% @album.errors.full_messages.each do |error| %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
<% end %>

<%= form_for @album do |f| %>

<div class="form-group">
    <b> Artista:</b><br>
    <%= f.collection_select(:artist_id, Artist.all, :id, :name, {},  
    {:class => 'custom-select'}) %>
  </div>

   <b>Nome: </b><br/>
   <%= f.text_field :title %>
</p><p>

<%= f.submit("Salvar", :class => "btn btn-dark")  %>

</p>
<% end %>

