
<div class="card" id="s">
  <div class="card-header">
   <h3> Lista de Albuns </h3>
   <h5> Total de Albuns: <b class="featured-number"><%=@album.count %></b></h5> 
  </div>
  <div class="card-body">
    
    <p class="card-text">
    
    <%= form_tag("/albums", method: "get") do %>
      <div class="input-group mb-3">
         <div class="input-group-prepend">
          <img src="https://res.cloudinary.com/musical-crud/image/upload/v1572667769/Logo/album_a6wpiz.svg">
         </div>
      <%= text_field_tag(:title, params['title'], class: "form-control") %>
        <div class="input-group-prepend">
            <%= select_tag :artist_id,
               options_from_collection_for_select(Artist.all, :id, :name),
               class: "form-control custom-select" %>
      <%= submit_tag("Buscar", class: 'btn btn-dark') %>
        </div>
      </div>
    <% end %></p>
    
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artista</th>
    </tr>
  </thead>
  <tbody>
   <% @album.each do |album|  %>
    <tr>
      <td><%= link_to album.title, album_path(album) %></td>
      <td> <%= album.artist.name%> </td>
    </tr>
    <%end%>
    </table>
  </tbody>
    
