
<div class="card" id="s">
  <div class="card-header">
   <h3> Lista de Albuns </h3>
   <h5> Total de Albuns: <b class="featured-number"><%=@album.count %></b></h5>
  </div>
  <div class="card-body">
    
    <p class="card-text">
    
    <%= text_field_tag(:valor, params[:valor])%>
    <%= submit_tag("Filtrar", class: 'btn btn-info', :style => "margin-left: 10px" ) %></p>
    
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artista</th>
    </tr>
  </thead>
  <tbody>
   <% @album.each do |album|  %>
    <tr>
      <td><%= link_to album.title, album_path(album) %></td>
      <td> <%= album.artist.name%> </td>
    </tr>
    <%end%>
    </table>
  </tbody>
    
