
<div class="container" id="">
  <div class="card" id="s">
    <div class="col-sm">
      <h3> Lista de Albuns</h3>
    </div>
    <div class="col-sm">
     Total de Albuns: <%= @album.count%></p>
    <%= text_field_tag(:valor, params[:valor])%>
    <%= submit_tag("Filtrar", class: 'btn btn-info', :style => "margin-left: 10px" ) %>
    </div>
  
   </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artista</th>
    </tr>
  </thead>
  <tbody>
   <% @album.each do |album|  %>
    <tr>
      <td><%= link_to album.title, album_path(album) %></td>
      <td> <%= album.artist.name%> </td>
    </tr>
    <%end%>
    </table>
  </tbody>