<% @album.tracks.each do |track| %>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading<%=track.id%>">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%=track.id%>" aria-expanded="false" aria-controls="collapse<%=track.id%>" id="btn">
            Nome da Música
          </button>
        </h5>
      </div>
      <div id="collapse<%=track.id%>" class="collapse" aria-labelledby="heading<%=track.id%>" data-parent="#accordion">
        <div class="card-body">
          Informações da Track
        </div>
      </div>
    </div>
  </div>
<% end %>
